.active {
  background-color: rgb(113, 80, 23);
  color: rgb(255, 228, 196);
}

.header {
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(rgba(181, 239, 229, 0.1),
        rgba(181, 239, 229, 0.1)), url(../src/images/fones.jpg);
}

.link {
  font-size: 24px;
  font-weight: 700;
  border-radius: 10px;
  padding: 0 10px;
  transition: 250ms;

  &:hover {
    background-color: rgb(100, 81, 49);
      color: rgb(255, 228, 196);
  }
}

.nav {
  display: flex;
  gap: 30px;
  margin-left: 70px;
}