.nav {
  display: flex;
  gap: 20px;
  padding: 15px;
  border-radius: 15px;
 
}

.link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.link:hover {
  font-weight: 600;
  color: #770303;;
   
}

.active {
  color: rgb(132, 3, 3);
}